@model MyTender.Models.ApplicationUser

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

@{Html.RenderPartial("ProfilePartial.cshtml", Model);}